h2 {
    color: brown;
}

.menu {
    display: flex;
    justify-content: space-evenly;
    align-items:  center;

    height: 90px;
    width: 100%;
    background-color: black;
    color: aliceblue;
}